Repository Agoric/agoric, changes with the owners that .github/CODEOWNERS names for each.
All owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig, @kriskowal, @mhofman, @JimLarson, @erights, @turadg, @samsiegart, @dckc

test: cleanup in portfolio holder test
  packages/orchestration/test/exos/make-test-coa-kit.ts
  packages/orchestration/test/exos/portfolio-holder-kit.test.ts
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

test: transmitTransferAck more defensive re: recent messages
  packages/orchestration/test/supports.ts
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

chore: publish
  packages/fast-usdc/src/exos/status-manager.js
  packages/fast-usdc/src/fast-usdc.contract.js
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

chore: Update README.md Go version requirement
  README.md
Owners: @kriskowal, @michaelfig

chore: `Advancer` void annotations
  packages/fast-usdc/src/exos/advancer.js
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

chore(zoe): Remove irrelevant JSDoc type override
  packages/zoe/src/contractSupport/durability.js
Owners: @erights, @Chris-Hibbert

fixup! chore: publish
  packages/fast-usdc/src/fast-usdc.contract.js
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

docs: diagram improvements and moved file comments to definitions
  packages/fast-usdc/README.md
  packages/fast-usdc/src/exos/advancer.js
  packages/fast-usdc/src/exos/settler.js
  packages/fast-usdc/src/exos/status-manager.js
  packages/fast-usdc/src/exos/transaction-feed.js
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

chore: harden arguments to atomicRearrange
  packages/fast-usdc/src/exos/liquidity-pool.js
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

chore(zoe): Remove irrelevant JSDoc type override
  packages/zoe/src/contractSupport/durability.js
Owners: @erights, @Chris-Hibbert

fix(vats): avoid needless mutation on `producer.reset()`
  packages/vats/src/core/promise-space.js
  packages/vats/src/nameHub.js
Owners: @michaelfig

fix(vats): on resolve, immediately reserve `PromiseSpaceForNameHub`
  packages/vats/src/core/utils.js
Owners: @michaelfig

feat(vats): decouple walletFactory from inter-protocol
  packages/vats/src/core/startWalletFactory.js
Owners: @michaelfig

docs(fast-usdc): DON'T PANIC re "CORE_EVAL failed"
  packages/fast-usdc/src/update-noble-ica.core.js
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

fix(telemetry): initialize empty flight-recorders
  packages/telemetry/src/flight-recorder.js
Owners: @kriskowal, @michaelfig

chore(multichain): let startContract caller skip instance check
  multichain-testing/test/support.ts
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

chore(orchestration): trace addresses when creating ICAs
  packages/orchestration/src/exos/cosmos-orchestration-account.js
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

test(multichain): misconfigure noble->agoric conn like mainnet
  multichain-testing/test/fast-usdc/fast-usdc.test.ts
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

docs(fast-usdc): DON'T PANIC re "CORE_EVAL failed"
  packages/fast-usdc/src/update-noble-ica.core.js
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

test(multichain): reconfigure: fix noble ICA
  multichain-testing/test/fast-usdc/fast-usdc.test.ts
  multichain-testing/test/fast-usdc/fu-actors.ts
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

refactor(fast-usdc): export feedPolicies.MAINNET in vat code
  packages/fast-usdc/src/utils/chain-policies.js
  packages/fast-usdc/src/utils/deploy-config.js
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

chore(fast-usdc): update, test chain policies vs. spreadsheet
  packages/fast-usdc/src/utils/chain-policies.js
  packages/fast-usdc/test/utils/chain-policies.test.ts
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

test(a3p): fastUsdc.feedPolicy updated for GTM
  a3p-integration/proposals/g:gtm-fast-usdc/test/deploy.test.js
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

test(a3p): gtm-fast-usdc
  a3p-integration/proposals/g:gtm-fast-usdc/.yarnrc.yml
  a3p-integration/proposals/g:gtm-fast-usdc/README.md
  a3p-integration/proposals/g:gtm-fast-usdc/package.json
  a3p-integration/proposals/g:gtm-fast-usdc/test.sh
  a3p-integration/proposals/g:gtm-fast-usdc/test/deploy.test.js
  a3p-integration/proposals/g:gtm-fast-usdc/test/test-cli.sh
  a3p-integration/proposals/g:gtm-fast-usdc/yarn.lock
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

feat(fast-usdc): update FeedPolicy along with Noble ICA
  packages/fast-usdc/src/update-noble-ica.core.js
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

test(boot): snapshot GTM Fast USDC feed policy
  packages/boot/test/fast-usdc/fast-usdc.test.ts
  packages/boot/test/fast-usdc/snapshots/fast-usdc.test.ts.md
  packages/boot/test/fast-usdc/snapshots/fast-usdc.test.ts.snap
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

docs(fast-usdc): FeedPolicy is no longer JSON serializable
  packages/fast-usdc/src/type-guards.js
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

chore(SwingSet): Prefer type Callable over Function
  packages/SwingSet/src/kernel/slogger.js
Owners: @warner, @FUDCo

fix(internal): Exempt process.stdout from being closed by makeFsStreamWriter
  packages/internal/src/node/fs-stream.js
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

fixup! fix: Properly synchronize slog sender termination
  packages/telemetry/test/flight-recorder.test.js
Owners: @kriskowal, @michaelfig

fix: minted early tracking
  packages/fast-usdc/src/exos/settler.js
  packages/fast-usdc/test/exos/settler.test.ts
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

feat: asMultiset
  packages/fast-usdc/src/utils/store.js
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

chore: undupe isCopyMap, isCopySet
  packages/store/src/stores/store-utils.js
Owners: @warner, @FUDCo, @erights

test(cosmic-swingset): add wallet provisioning test
  packages/cosmic-swingset/Makefile
  packages/cosmic-swingset/test/make.test.js
Owners: @michaelfig

fixup! test(cosmic-swingset): add wallet provisioning test
  packages/cosmic-swingset/Makefile
  packages/cosmic-swingset/package.json
  packages/cosmic-swingset/test/make.test.js
  packages/cosmic-swingset/test/scenario2.js
Owners: @michaelfig

chore(fast-usdc): feeConfig.variableRate to 0.5% in upgrade
  packages/fast-usdc/src/update-noble-ica.core.js
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

test(boot): update fast-usdc test w.r.t. 0.5% variable fee
  packages/boot/test/fast-usdc/fast-usdc.test.ts
  packages/boot/test/fast-usdc/snapshots/fast-usdc.test.ts.md
  packages/boot/test/fast-usdc/snapshots/fast-usdc.test.ts.snap
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

.github/CODEOWNERS:

# Default code owners when not specified.
# We prefer to explicitly specify owners for all subdirectories.
*                                @warner @Chris-Hibbert @FUDCo @michaelfig

/*.*                             @kriskowal @michaelfig
/.github/                        @kriskowal @michaelfig
/docker/                         @kriskowal @michaelfig
/patches/                        @kriskowal @michaelfig
/scripts/                        @kriskowal @michaelfig
/yarn.lock                       @mhofman

# Golang parts of the repo.
/go.*                            @JimLarson
/golang/                         @JimLarson

# Explicit owners for our packages
/packages/ERTP/                  @erights @Chris-Hibbert
/packages/SwingSet/              @warner @FUDCo
/packages/access-token/          @kriskowal @michaelfig
/packages/agoric-cli/            @kriskowal @michaelfig
/packages/assert/                @kriskowal @turadg @michaelfig @erights
/packages/cosmic-swingset/       @michaelfig
/packages/deploy-script-support/ @michaelfig
/packages/deployment/            @michaelfig
/packages/eslint-config/         @kriskowal @michaelfig @erights @turadg @mhofman
/packages/governance/            @Chris-Hibbert
/packages/import-manager/        @michaelfig
/packages/notifier/              @kriskowal @turadg @michaelfig @erights
/packages/pegasus/               @michaelfig
/packages/run-protocol           @Chris-Hibbert @turadg
/packages/same-structure/        @kriskowal @turadg @michaelfig @erights
/packages/sharing-service/       @michaelfig @Chris-Hibbert
/packages/solo/                  @kriskowal @michaelfig
/packages/sparse-ints/           @kriskowal @turadg @michaelfig
/packages/spawner/               @michaelfig
/packages/stat-logger/           @warner @FUDCo
/packages/store/                 @warner @FUDCo @erights
/packages/swing-store/           @warner @FUDCo
/packages/swingset-runner/       @FUDCo
/packages/tame-metering/         @kriskowal @michaelfig
/packages/telemetry              @kriskowal @michaelfig
/packages/ui-components/         @michaelfig @samsiegart  @turadg
/packages/vats/                  @michaelfig
/packages/vat-data/              @turadg
/packages/wallet/                @michaelfig @samsiegart
/packages/wallet-connection/     @michaelfig @samsiegart
/packages/web-components/        @samsiegart
/packages/xsnap/                 @warner @dckc @kriskowal
/packages/zoe                    @erights @Chris-Hibbert
