Repository Agoric/agoric, changes with the owners that .github/CODEOWNERS names for each.
All owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig, @kriskowal, @mhofman, @JimLarson, @erights, @turadg, @samsiegart, @dckc

style: jsdoc import single quotes
  packages/SwingSet/src/lib/workerOptions.js
  packages/assert/src/assert.js
  packages/boot/test/bootstrapTests/ibcClientMock.js
  packages/boot/test/bootstrapTests/ibcServerMock.js
  packages/cosmic-swingset/src/chain-main.js
  packages/cosmic-swingset/src/export-kernel-db.js
  packages/pegasus/src/types.js
  packages/zoe/src/types-ambient.js
  packages/zoe/test/unitTests/contracts/loan/helpers.js
  patches/@lerna+version+5.6.2.patch
Owners: @warner, @FUDCo, @kriskowal, @turadg, @michaelfig, @erights, @Chris-Hibbert

chore(deps): bump endo bundle-source, compartment-mapper
  packages/ERTP/package.json
  packages/SwingSet/package.json
  packages/agoric-cli/package.json
  packages/boot/package.json
  packages/builders/package.json
  packages/cosmic-proto/package.json
  packages/cosmic-swingset/package.json
  packages/deploy-script-support/package.json
  packages/governance/package.json
  packages/inter-protocol/package.json
  packages/network/package.json
  packages/orchestration/package.json
  packages/pegasus/package.json
  packages/smart-wallet/package.json
  packages/solo/package.json
  packages/spawner/package.json
  packages/swing-store/package.json
  packages/swingset-runner/package.json
  packages/swingset-xsnap-supervisor/package.json
  packages/vats/package.json
  packages/wallet/api/package.json
  packages/xsnap-lockdown/package.json
  packages/xsnap/package.json
  packages/zoe/package.json
  yarn.lock
Owners: @erights, @Chris-Hibbert, @warner, @FUDCo, @kriskowal, @michaelfig, @samsiegart, @dckc, @mhofman

chore(deps): bump ts-blank-space
  packages/boot/package.json
  packages/client-utils/package.json
  packages/fast-usdc/package.json
  packages/orchestration/package.json
  yarn.lock
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig, @mhofman

chore(deps): bump typescript to 5.7-rc
  package.json
  packages/cosmic-proto/package.json
  yarn.lock
Owners: @kriskowal, @michaelfig, @warner, @Chris-Hibbert, @FUDCo, @mhofman

chore(types): fix Buffer usage in TS 5.7
  package.json
  packages/internal/src/netstring.js
  yarn.lock
Owners: @kriskowal, @michaelfig, @warner, @Chris-Hibbert, @FUDCo, @mhofman

build: .ts support
  tsconfig.json
Owners: @kriskowal, @michaelfig

test: allow .ts files in internal
  packages/internal/package.json
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

refactor: ses-utils to .ts
  packages/internal/src/index.js
  packages/internal/src/ses-utils.ts
  packages/internal/src/types.ts
  packages/internal/test/utils.test.js
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

chore(types): work around TS2775
  packages/internal/src/ses-utils.ts
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

feat: compat with .ts imports during dev
  packages/fast-usdc/package.json
  packages/fast-usdc/src/cli/index.js
  packages/fast-usdc/test/cli/cli.test.ts
  packages/fast-usdc/test/cli/snapshots/cli.test.ts.md
  packages/fast-usdc/test/cli/snapshots/cli.test.ts.snap
  yarn.lock
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig, @mhofman

refactor: convert operator-kit to .ts
  packages/fast-usdc/src/exos/operator-kit.ts
  packages/fast-usdc/src/exos/transaction-feed.ts
  packages/fast-usdc/src/fast-usdc.contract.ts
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

refactor: fast-usdc.contract to .ts
  packages/builders/scripts/fast-usdc/init-fast-usdc.js
  packages/fast-usdc/src/fast-usdc.contract.ts
  packages/fast-usdc/src/fast-usdc.start.js
  packages/fast-usdc/src/type-guards.js
  packages/fast-usdc/test/fast-usdc.contract.test.ts
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

build: support for .ts in JS bundles
  tsconfig.json
Owners: @kriskowal, @michaelfig

refactor: Convert transaction-feed.js to TypeScript
  packages/fast-usdc/src/exos/transaction-feed.ts
  packages/fast-usdc/src/fast-usdc.contract.ts
  packages/fast-usdc/test/exos/transaction-feed.test.ts
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

feat(types): generic zone.mapStore
  packages/base-zone/src/types.js
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

feat(types): generic makeDurablePublishKit
  packages/inter-protocol/src/price/fluxAggregatorKit.js
  packages/notifier/src/publish-kit.js
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig, @kriskowal, @turadg, @erights

feat: scaffold @agoric/eslint-plugin
  packages/eslint-plugin/eslint.config.js
  packages/eslint-plugin/package.json
  packages/eslint-plugin/src/index.js
  packages/eslint-plugin/src/rules/dollar-sign.js
  packages/eslint-plugin/tests/rules/dollar-sign.test.js
  yarn.lock
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig, @mhofman

feat: Add eslint rule to enforce start function synchronous prelude
  packages/eslint-plugin/src/index.js
  packages/eslint-plugin/src/rules/start-function-prelude.js
  packages/eslint-plugin/tests/rules/start-function-prelude.test.js
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

fixup test of prelude
  packages/eslint-plugin/tests/rules/start-function-prelude.test.js
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

fixup scaffold
  packages/eslint-plugin/tsconfig.json
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

fixup prelude rule
  packages/eslint-plugin/src/rules/start-function-prelude.js
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

fixup scaffold
  packages/eslint-plugin/src/index.js
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

fix: Resolve TypeScript errors in ESLint plugin with AST traversal improvements
  packages/eslint-plugin/package.json
  packages/eslint-plugin/src/rules/start-function-prelude.js
  packages/eslint-plugin/tests/rules/start-function-prelude.test.js
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

fix RuleTester import
  packages/eslint-plugin/tests/rules/start-function-prelude.test.js
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

refactor: Fix stack overflow in start-function-prelude AST traversal
  packages/eslint-plugin/src/rules/start-function-prelude.js
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

fix: Update error reporting in start-function-prelude ESLint rule
  packages/eslint-plugin/src/rules/start-function-prelude.js
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

fix: Improve await expression detection in start-function-prelude rule
  packages/eslint-plugin/src/rules/start-function-prelude.js
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

fix: Improve await expression detection in ESLint rule using AST traversal
  packages/eslint-plugin/src/rules/start-function-prelude.js
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

refactor: Improve await expression detection in start function prelude rule
  packages/eslint-plugin/src/rules/start-function-prelude.js
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

fix: Refactor await expression detection in ESLint rule
  packages/eslint-plugin/src/rules/start-function-prelude.js
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

fix: Refactor AST traversal to prevent stack overflow in ESLint rule
  packages/eslint-plugin/src/rules/start-function-prelude.js
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

test: test "current" agoric-sdk with "current" endo master
  packages/SwingSet/test/upgrade/upgrade.test.js
Owners: @warner, @FUDCo

test: test "current" agoric-sdk against some endo fork
  packages/SwingSet/test/upgrade/upgrade.test.js
Owners: @warner, @FUDCo

chore(deps): back to npm @cosmology/telescope
  packages/cosmic-proto/package.json
  yarn.lock
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig, @mhofman

chore(types): codegen with useEnhancedDecimal
  packages/cosmic-proto/scripts/codegen.cjs
  packages/cosmic-proto/src/codegen/agoric/vbank/vbank.ts
  packages/cosmic-proto/src/codegen/binary.ts
  packages/cosmic-proto/src/codegen/cosmos/distribution/v1beta1/distribution.ts
  packages/cosmic-proto/src/codegen/cosmos/gov/v1beta1/gov.ts
  packages/cosmic-proto/src/codegen/cosmos/mint/v1beta1/mint.ts
  packages/cosmic-proto/src/codegen/cosmos/staking/v1beta1/staking.ts
  packages/cosmic-proto/src/codegen/cosmos/staking/v1beta1/tx.ts
  packages/cosmic-proto/src/codegen/decimals.ts
  packages/cosmic-proto/src/codegen/helpers.ts
  packages/cosmic-proto/src/codegen/index.ts
  packages/cosmic-proto/src/codegen/json-safe.ts
  packages/cosmic-proto/src/codegen/utf8.ts
  packages/cosmic-proto/src/codegen/varint.ts
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

chore(deps): cut ambient global from telescope
  packages/cosmic-proto/src/codegen/helpers.ts
  patches/@cosmology+telescope+1.11.9.patch
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig, @kriskowal

test: test.failing only for off-spec
  packages/SwingSet/test/vo-test-harness/dvo-test-harness.test.js
  packages/swingset-liveslots/test/vo-test-harness.test.js
Owners: @warner, @FUDCo, @Chris-Hibbert, @michaelfig

feat: Ava test spy
  packages/swingset-liveslots/tools/vo-test-harness.js
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

chore: include "Issue type" for bug report
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @kriskowal, @michaelfig

chore: split work_item template to feature / task
  .github/ISSUE_TEMPLATE/feature.md
  .github/ISSUE_TEMPLATE/task.md
Owners: @kriskowal, @michaelfig

.github/CODEOWNERS:

# Default code owners when not specified.
# We prefer to explicitly specify owners for all subdirectories.
*                                @warner @Chris-Hibbert @FUDCo @michaelfig

/*.*                             @kriskowal @michaelfig
/.github/                        @kriskowal @michaelfig
/docker/                         @kriskowal @michaelfig
/patches/                        @kriskowal @michaelfig
/scripts/                        @kriskowal @michaelfig
/yarn.lock                       @mhofman

# Golang parts of the repo.
/go.*                            @JimLarson
/golang/                         @JimLarson

# Explicit owners for our packages
/packages/ERTP/                  @erights @Chris-Hibbert
/packages/SwingSet/              @warner @FUDCo
/packages/access-token/          @kriskowal @michaelfig
/packages/agoric-cli/            @kriskowal @michaelfig
/packages/assert/                @kriskowal @turadg @michaelfig @erights
/packages/cosmic-swingset/       @michaelfig
/packages/deploy-script-support/ @michaelfig
/packages/deployment/            @michaelfig
/packages/eslint-config/         @kriskowal @michaelfig @erights @turadg @mhofman
/packages/governance/            @Chris-Hibbert
/packages/import-manager/        @michaelfig
/packages/notifier/              @kriskowal @turadg @michaelfig @erights
/packages/pegasus/               @michaelfig
/packages/run-protocol           @Chris-Hibbert @turadg
/packages/same-structure/        @kriskowal @turadg @michaelfig @erights
/packages/sharing-service/       @michaelfig @Chris-Hibbert
/packages/solo/                  @kriskowal @michaelfig
/packages/sparse-ints/           @kriskowal @turadg @michaelfig
/packages/spawner/               @michaelfig
/packages/stat-logger/           @warner @FUDCo
/packages/store/                 @warner @FUDCo @erights
/packages/swing-store/           @warner @FUDCo
/packages/swingset-runner/       @FUDCo
/packages/tame-metering/         @kriskowal @michaelfig
/packages/telemetry              @kriskowal @michaelfig
/packages/ui-components/         @michaelfig @samsiegart  @turadg
/packages/vats/                  @michaelfig
/packages/vat-data/              @turadg
/packages/wallet/                @michaelfig @samsiegart
/packages/wallet-connection/     @michaelfig @samsiegart
/packages/web-components/        @samsiegart
/packages/xsnap/                 @warner @dckc @kriskowal
/packages/zoe                    @erights @Chris-Hibbert
