Repository Agoric/agoric, changes with the owners that .github/CODEOWNERS names for each.
All owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig, @kriskowal, @mhofman, @JimLarson, @erights, @turadg, @samsiegart, @dckc

test(deps): unpatch Ava (forceExit and ava-dur)
  patches/ava+5.3.1.patch
Owners: @kriskowal, @michaelfig

chore(deps): bump @fast-check/ava to 2.0.1
  packages/ERTP/package.json
  packages/inter-protocol/package.json
  yarn.lock
Owners: @erights, @Chris-Hibbert, @warner, @FUDCo, @michaelfig, @mhofman

chore: npx yarn-deduplicate
  yarn.lock
Owners: @mhofman

test: don't rely on .serial to be sequential in liquidation-1
  packages/boot/test/bootstrapTests/liquidation-1.test.ts
  packages/boot/tools/liquidation.ts
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

fixup: handle how in receiveUpcall
  packages/orchestration/src/examples/my.contract.js
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

feat(ertp,zoe): minimal want patterns using M.has(el,n)
  packages/ERTP/package.json
  packages/ERTP/src/amountMath.js
  packages/ERTP/src/mathHelpers/copyBagMathHelpers.js
  packages/ERTP/src/mathHelpers/copySetMathHelpers.js
  packages/ERTP/src/mathHelpers/natMathHelpers.js
  packages/ERTP/src/mathHelpers/setMathHelpers.js
  packages/ERTP/src/typeGuards.js
  packages/ERTP/src/types.ts
  packages/ERTP/test/unitTests/mathHelpers/copyBagMathHelpers.test.js
  packages/ERTP/test/unitTests/mathHelpers/copySetMathHelpers.test.js
  packages/ERTP/test/unitTests/mathHelpers/natMathHelpers.test.js
  packages/ERTP/test/unitTests/mathHelpers/setMathHelpers.test.js
  packages/ERTP/test/unitTests/mathHelpers/strSetMathHelpers.test.js
  packages/ERTP/test/unitTests/mintObj.test.js
  packages/fast-usdc/test/fast-usdc.contract.test.ts
  packages/zoe/src/contracts/loan/close.js
  packages/zoe/test/unitTests/contractSupport/ratio.test.js
Owners: @erights, @Chris-Hibbert, @warner, @FUDCo, @michaelfig

chore: get contract invocation payload off chain
  packages/boot/test/orchestration/axelar-gmp-upgrade.test.ts
  packages/orchestration/package.json
  packages/orchestration/src/examples/axelar.flows.js
  yarn.lock
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig, @mhofman

fixup! chore: get contract invocation payload off chain
  packages/boot/test/orchestration/axelar-gmp.test.ts
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

chore: replace execa with nano-spawn
  packages/fast-usdc/package.json
  packages/fast-usdc/test/cli/cli.test.ts
  yarn.lock
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig, @mhofman

ci: use node-version 20.x
  .github/workflows/benchmarks.yml
  .github/workflows/dump-ci-stats.yml
  .github/workflows/integration.yml
  .github/workflows/multichain-e2e-template.yml
  .github/workflows/test-all-packages.yml
Owners: @kriskowal, @michaelfig

style(xsnap): Simplify type signatures
  packages/xsnap/src/build.js
Owners: @warner, @dckc, @kriskowal

refactor(xsnap): Further simplify build logic
  packages/xsnap/src/build.js
Owners: @warner, @dckc, @kriskowal

refactor(xsnap): Simplify and document makeCLI and makeSubmodule
  packages/xsnap/src/build.js
Owners: @warner, @dckc, @kriskowal

refactor(xsnap): Split out `showEnv()` from `updateSubmodules()`
  packages/xsnap/src/build.js
Owners: @warner, @dckc, @kriskowal

refactor(xsnap): Inside build.js, pass down CLI objects rather than `spawn` powers
  packages/xsnap/src/build.js
Owners: @warner, @dckc, @kriskowal

refactor(xsnap): Replace `makeXsnap(io, force?)` with `buildXsnap(platform, force, io)`
  packages/xsnap/src/build.js
Owners: @warner, @dckc, @kriskowal

refactor(xsnap): Simplify the logic for detecting when to force a build
  packages/xsnap/src/build.js
Owners: @warner, @dckc, @kriskowal

docs: xsnap REPL bin not working
  packages/xsnap/README.md
Owners: @warner, @dckc, @kriskowal

chore(deps): pin types/node
  package.json
  yarn.lock
Owners: @kriskowal, @michaelfig, @mhofman

build: yarn 4 dropped engine checking
  scripts/agd-builder.sh
Owners: @kriskowal, @michaelfig

chore(deps): ava-xs (xsnap) devDependency
  packages/ERTP/package.json
  packages/zoe/package.json
  yarn.lock
Owners: @erights, @Chris-Hibbert, @mhofman

lint: berry-compatible lint glob
  package.json
  packages/ERTP/package.json
  packages/SwingSet/package.json
  packages/access-token/package.json
  packages/agoric-cli/package.json
  packages/base-zone/package.json
  packages/benchmark/package.json
  packages/boot/package.json
  packages/builders/package.json
  packages/cache/package.json
  packages/casting/package.json
  packages/cosmic-swingset/package.json
  packages/deploy-script-support/package.json
  packages/governance/package.json
  packages/inter-protocol/package.json
  packages/internal/package.json
  packages/kmarshal/package.json
  packages/network/package.json
  packages/notifier/package.json
  packages/pegasus/package.json
  packages/smart-wallet/package.json
  packages/solo/package.json
  packages/sparse-ints/package.json
  packages/spawner/package.json
  packages/stat-logger/package.json
  packages/store/package.json
  packages/swing-store/package.json
  packages/swingset-liveslots/package.json
  packages/swingset-runner/package.json
  packages/swingset-xsnap-supervisor/package.json
  packages/telemetry/package.json
  packages/time/package.json
  packages/vat-data/package.json
  packages/vats/package.json
  packages/vm-config/package.json
  packages/wallet/api/package.json
  packages/xsnap-lockdown/package.json
  packages/xsnap/package.json
  packages/zoe/package.json
  packages/zone/package.json
Owners: @kriskowal, @michaelfig, @erights, @Chris-Hibbert, @warner, @FUDCo, @turadg, @samsiegart, @dckc

chore(deps): upgrade Yarn 1 to 4
  .yarnrc.yml
  package.json
  packages/ERTP/package.json
  packages/SwingSet/package.json
  packages/agoric-cli/package.json
  packages/benchmark/package.json
  packages/boot/package.json
  packages/builders/package.json
  packages/cosmic-proto/package.json
  packages/cosmic-swingset/package.json
  packages/create-dapp/package.json
  packages/deploy-script-support/package.json
  packages/deployment/Dockerfile.sdk
  packages/eslint-config/package.json
  packages/fast-usdc/package.json
  packages/governance/package.json
  packages/inter-protocol/package.json
  packages/internal/package.json
  packages/kmarshal/package.json
  packages/network/package.json
  packages/notifier/package.json
  packages/pegasus/package.json
  packages/smart-wallet/package.json
  packages/swing-store/package.json
  packages/swingset-liveslots/package.json
  packages/swingset-runner/package.json
  packages/telemetry/package.json
  packages/vat-data/package.json
  packages/vats/package.json
  packages/vm-config/package.json
  packages/wallet/api/package.json
  packages/xsnap/package.json
  packages/zoe/package.json
  yarn.lock
Owners: @kriskowal, @michaelfig, @erights, @Chris-Hibbert, @warner, @FUDCo, @turadg, @mhofman, @samsiegart, @dckc

chore(deps): ava devDependency
  packages/SwingSet/package.json
  yarn.lock
Owners: @warner, @FUDCo, @mhofman

ci: lint top level scripts
  package.json
  scripts/check-untested-packages.mjs
  scripts/create-agoric-cli.cjs
  scripts/migrate-test-names.mjs
  scripts/update-typedoc-functions-path.cjs
  tsconfig.json
Owners: @kriskowal, @michaelfig

build: compat with Berry shell behavior
  packages/xsnap/package.json
Owners: @warner, @dckc, @kriskowal

ci: remove registry/yarn test
  .github/workflows/integration.yml
  scripts/registry.sh
Owners: @kriskowal, @michaelfig

ci: yarn 4 dropped --silent
  a3p-integration/proposals/b:beta-fast-usdc/package.json
  a3p-integration/proposals/n:upgrade-next/package.json
  a3p-integration/proposals/z:acceptance/package.json
  packages/inter-protocol/test/auction/README-bidding-cli.md
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

build: golang/cosmos compat with Yarn 4
  golang/cosmos/package.json
  packages/deployment/Dockerfile.sdk
  yarn.lock
Owners: @JimLarson, @michaelfig, @mhofman

chore(deps): migrate from patch-package
  .github/actions/restore-node/action.yml
  package.json
  packages/deployment/Dockerfile.sdk
  patches/encoding+0.1.13.patch
  patches/readable-stream+3.6.2.patch
  patches/util+0.10.4.patch
  scripts/replace-packages.sh
  yarn.lock
Owners: @kriskowal, @michaelfig, @mhofman

chore(deps): port patch @lerna/conventional-commits
  .yarn/patches/@lerna-conventional-commits-npm-5.6.2-a373ba4bc0.patch
  package.json
  yarn.lock
Owners: @kriskowal, @michaelfig, @mhofman

chore(deps): port patch axios
  .yarn/patches/axios-npm-1.6.7-d7b9974d1b.patch
  package.json
  yarn.lock
Owners: @kriskowal, @michaelfig, @mhofman

chore(deps): bump cosmjs/stargate to 0.33
  packages/agoric-cli/package.json
  packages/casting/package.json
  packages/client-utils/package.json
  packages/fast-usdc/package.json
  yarn.lock
Owners: @kriskowal, @michaelfig, @warner, @Chris-Hibbert, @FUDCo, @mhofman

chore(deps): patch depd
  .yarn/patches/depd-npm-2.0.0-b6c51a4b43.patch
  package.json
  yarn.lock
Owners: @kriskowal, @michaelfig, @mhofman

chore(deps): patch chain-registry/client
  .yarn/patches/@chain-registry-client-npm-1.47.4-e1f663239f.patch
  package.json
  yarn.lock
Owners: @kriskowal, @michaelfig, @mhofman

chore(deps): set resolutions for stargate 0.33
  package.json
  yarn.lock
Owners: @kriskowal, @michaelfig, @mhofman

chore(deps): patch rxjs
  .yarn/patches/rxjs-npm-7.5.5-d0546b1ccb.patch
  package.json
  yarn.lock
Owners: @kriskowal, @michaelfig, @mhofman

chore(deps): port @lerna/version
  .yarn/patches/@lerna-version-npm-5.6.2-ce2d9cb2f5.patch
  package.json
  yarn.lock
Owners: @kriskowal, @michaelfig, @mhofman

chore(deps): patch external-editor
  .yarn/patches/external-editor-npm-3.1.0-878e7807af.patch
  package.json
  yarn.lock
Owners: @kriskowal, @michaelfig, @mhofman

chore(deps): patch @agoric/wallet-ui
  .yarn/patches/@agoric-wallet-ui-npm-0.1.3-solo.0-00666f4b09.patch
  package.json
  yarn.lock
Owners: @kriskowal, @michaelfig, @mhofman

.github/CODEOWNERS:

# Default code owners when not specified.
# We prefer to explicitly specify owners for all subdirectories.
*                                @warner @Chris-Hibbert @FUDCo @michaelfig

/*.*                             @kriskowal @michaelfig
/.github/                        @kriskowal @michaelfig
/docker/                         @kriskowal @michaelfig
/patches/                        @kriskowal @michaelfig
/scripts/                        @kriskowal @michaelfig
/yarn.lock                       @mhofman

# Golang parts of the repo.
/go.*                            @JimLarson
/golang/                         @JimLarson

# Explicit owners for our packages
/packages/ERTP/                  @erights @Chris-Hibbert
/packages/SwingSet/              @warner @FUDCo
/packages/access-token/          @kriskowal @michaelfig
/packages/agoric-cli/            @kriskowal @michaelfig
/packages/assert/                @kriskowal @turadg @michaelfig @erights
/packages/cosmic-swingset/       @michaelfig
/packages/deploy-script-support/ @michaelfig
/packages/deployment/            @michaelfig
/packages/eslint-config/         @kriskowal @michaelfig @erights @turadg @mhofman
/packages/governance/            @Chris-Hibbert
/packages/import-manager/        @michaelfig
/packages/notifier/              @kriskowal @turadg @michaelfig @erights
/packages/pegasus/               @michaelfig
/packages/run-protocol           @Chris-Hibbert @turadg
/packages/same-structure/        @kriskowal @turadg @michaelfig @erights
/packages/sharing-service/       @michaelfig @Chris-Hibbert
/packages/solo/                  @kriskowal @michaelfig
/packages/sparse-ints/           @kriskowal @turadg @michaelfig
/packages/spawner/               @michaelfig
/packages/stat-logger/           @warner @FUDCo
/packages/store/                 @warner @FUDCo @erights
/packages/swing-store/           @warner @FUDCo
/packages/swingset-runner/       @FUDCo
/packages/tame-metering/         @kriskowal @michaelfig
/packages/telemetry              @kriskowal @michaelfig
/packages/ui-components/         @michaelfig @samsiegart  @turadg
/packages/vats/                  @michaelfig
/packages/vat-data/              @turadg
/packages/wallet/                @michaelfig @samsiegart
/packages/wallet-connection/     @michaelfig @samsiegart
/packages/web-components/        @samsiegart
/packages/xsnap/                 @warner @dckc @kriskowal
/packages/zoe                    @erights @Chris-Hibbert
