Repository Agoric/agoric, changes with the owners that .github/CODEOWNERS names for each.
All owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig, @kriskowal, @mhofman, @JimLarson, @erights, @turadg, @samsiegart, @dckc

chore(deps): bump @cosmjs/*
  packages/agoric-cli/package.json
  packages/casting/package.json
  packages/client-utils/package.json
  packages/fast-usdc/package.json
  packages/orchestration/package.json
  yarn.lock
Owners: @kriskowal, @michaelfig, @warner, @Chris-Hibbert, @FUDCo, @mhofman

chore(deps): port ava patch
  .yarn/patches/ava-npm-5.3.1-e4c2e237f7.patch
  package.json
Owners: @kriskowal, @michaelfig

chore(deps): patch node-fetch
  .yarn/patches/node-fetch-npm-2.7.0-587d57004e.patch
  package.json
  yarn.lock
Owners: @kriskowal, @michaelfig, @mhofman

chore!: drop support for verified queries
  packages/casting/src/follower-cosmjs.js
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

chore(deps): yarn dedupe
  yarn.lock
Owners: @mhofman

chore(deps): patch jessie.js
  .yarn/patches/jessie.js-npm-0.3.4-3fca255cb3.patch
  package.json
  yarn.lock
Owners: @kriskowal, @michaelfig, @mhofman

chore(deps): set resolution readable-stream
  package.json
  yarn.lock
Owners: @kriskowal, @michaelfig, @mhofman

chore(deps): bump @cosmjs/*
  multichain-testing/package.json
  multichain-testing/yarn.lock
  packages/agoric-cli/package.json
  packages/casting/package.json
  packages/client-utils/package.json
  packages/fast-usdc/package.json
  packages/orchestration/package.json
  yarn.lock
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig, @kriskowal, @mhofman

chore!: drop support for verified queries
  packages/agoric-cli/src/main.js
  packages/casting/src/follower-cosmjs.js
  packages/casting/src/types.js
Owners: @kriskowal, @michaelfig, @warner, @Chris-Hibbert, @FUDCo

fixup! chore!: drop support for verified queries
  packages/casting/src/types.js
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

test(xsnap): Verify npm install build process
  packages/xsnap/.gitignore
  packages/xsnap/src/build.js
  packages/xsnap/test/install.test.js
Owners: @warner, @dckc, @kriskowal

refactor(SwingSet): Improve addSlogCallbacks parameter/variable names
  packages/SwingSet/src/kernel/slogger.js
Owners: @warner, @FUDCo

chore(telemetry): Use more readable async patterns
  packages/internal/src/node/fs-stream.js
  packages/telemetry/src/index.js
  packages/telemetry/src/make-slog-sender.js
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig, @kriskowal

fix(SwingSet): Include level in kernel console slog output
  packages/SwingSet/src/controller/controller.js
Owners: @warner, @FUDCo

refactor(SwingSet): Simplify makeFinishersKit into addSlogCallbacks
  packages/SwingSet/src/kernel/slogger.js
Owners: @warner, @FUDCo

chore(SwingSet): Remove unused code and comments
  packages/SwingSet/src/kernel/slogger.js
Owners: @warner, @FUDCo

fix: Properly synchronize slog sender termination
  packages/cosmic-swingset/src/chain-main.js
  packages/cosmic-swingset/src/launch-chain.js
  packages/internal/src/node/fs-stream.js
  packages/telemetry/src/flight-recorder.js
  packages/telemetry/test/flight-recorder.test.js
Owners: @michaelfig, @warner, @Chris-Hibbert, @FUDCo, @kriskowal

feat: `CosmosOrchestrationAccount` supports `.depositForBurn`
  packages/orchestration/src/cosmos-api.ts
  packages/orchestration/src/ethereum-api.ts
  packages/orchestration/src/exos/chain-hub.js
  packages/orchestration/src/exos/cosmos-orchestration-account.js
  packages/orchestration/src/orchestration-api.ts
  packages/orchestration/src/typeGuards.js
  packages/orchestration/test/types.test-d.ts
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

refactor: support chainIDs that are string | number
  packages/orchestration/src/ethereum-api.ts
  packages/orchestration/src/examples/stake-ica.contract.js
  packages/orchestration/src/exos/chain-hub.js
  packages/orchestration/src/exos/cosmos-orchestration-account.js
  packages/orchestration/src/orchestration-api.ts
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

feat: support CCTP in orchestration
  packages/orchestration/src/chain-capabilities.js
  packages/orchestration/src/examples/send-anywhere.contract.js
  packages/orchestration/src/examples/send-cctp.flows.js
  packages/orchestration/src/exos/chain-hub-admin.js
  packages/orchestration/test/examples/send-cctp.test.ts
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

test: update orcestration example snapshots
  packages/orchestration/src/exos/chain-hub.js
  packages/orchestration/test/examples/snapshots/send-anywhere.test.ts.md
  packages/orchestration/test/examples/snapshots/send-anywhere.test.ts.snap
  packages/orchestration/test/examples/snapshots/staking-combinations.test.ts.md
  packages/orchestration/test/examples/snapshots/staking-combinations.test.ts.snap
  packages/orchestration/test/examples/snapshots/unbond.contract.test.ts.md
  packages/orchestration/test/examples/snapshots/unbond.contract.test.ts.snap
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

feat: encode cctp destination address
  packages/orchestration/package.json
  packages/orchestration/src/exos/cosmos-orchestration-account.js
  packages/orchestration/src/utils/address.js
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

fixup! fix: Properly synchronize slog sender termination
  packages/internal/src/node/fs-stream.js
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

refactor: support generic non-cosmos chainInfo in chain-hub
  packages/orchestration/src/exos/chain-hub.js
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

test: test depositForBurn via Noble
  packages/orchestration/src/exos/README.md
  packages/orchestration/test/exos/cosmos-orchestration-account.test.ts
  packages/orchestration/test/exos/make-test-coa-kit.ts
  packages/orchestration/test/ibc-mocks.ts
  packages/orchestration/test/network-fakes.ts
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

test: cleanup in portfolio holder test
  packages/orchestration/test/exos/make-test-coa-kit.ts
  packages/orchestration/test/exos/portfolio-holder-kit.test.ts
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

test: declare ChainAddress type in zoe-tools.test
  packages/orchestration/test/utils/zoe-tools.test.ts
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

test: transmitTransferAck more defensive re: recent messages
  packages/orchestration/test/supports.ts
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

refactor: use arrow function style
  packages/fast-usdc/test/pool-share-math.test.ts
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

refactor: use a single zcf.atomicReallocate for repaying
  packages/fast-usdc/src/exos/liquidity-pool.js
  packages/fast-usdc/src/exos/settler.js
  packages/fast-usdc/src/pool-share-math.js
  packages/fast-usdc/test/exos/settler.test.ts
  packages/fast-usdc/test/pool-share-math.test.ts
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

docs: document fastUSDC's processing plan and state transitions
  packages/fast-usdc/README.md
  packages/fast-usdc/src/constants.js
  packages/fast-usdc/src/exos/advancer.js
  packages/fast-usdc/src/exos/settler.js
  packages/fast-usdc/src/exos/status-manager.js
  packages/fast-usdc/src/exos/transaction-feed.js
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

refactor: rename seats in liquidityPool
  packages/fast-usdc/src/exos/liquidity-pool.js
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

feat: `CosmosOrchestrationAccount` supports `.depositForBurn`
  packages/orchestration/src/cosmos-api.ts
  packages/orchestration/src/ethereum-api.ts
  packages/orchestration/src/exos/chain-hub.js
  packages/orchestration/src/exos/cosmos-orchestration-account.js
  packages/orchestration/src/orchestration-api.ts
  packages/orchestration/src/typeGuards.js
  packages/orchestration/test/types.test-d.ts
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

feat: support CCTP in orchestration
  packages/orchestration/src/chain-capabilities.js
  packages/orchestration/src/examples/send-anywhere.contract.js
  packages/orchestration/src/examples/send-cctp.flows.js
  packages/orchestration/src/exos/chain-hub-admin.js
  packages/orchestration/test/examples/send-cctp.test.ts
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

feat: encode cctp destination address
  packages/orchestration/package.json
  packages/orchestration/src/exos/cosmos-orchestration-account.js
  packages/orchestration/src/utils/address.js
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

refactor: support generic non-cosmos chainInfo in chain-hub
  packages/orchestration/src/exos/chain-hub.js
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

refactor: support chainIDs that are string | number
  packages/orchestration/src/ethereum-api.ts
  packages/orchestration/src/examples/stake-ica.contract.js
  packages/orchestration/src/exos/chain-hub.js
  packages/orchestration/src/exos/cosmos-orchestration-account.js
  packages/orchestration/src/orchestration-api.ts
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

test: declare ChainAddress type in zoe-tools.test
  packages/orchestration/test/utils/zoe-tools.test.ts
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

test: test depositForBurn via Noble
  packages/orchestration/src/exos/README.md
  packages/orchestration/test/exos/cosmos-orchestration-account.test.ts
  packages/orchestration/test/exos/make-test-coa-kit.ts
  packages/orchestration/test/ibc-mocks.ts
  packages/orchestration/test/network-fakes.ts
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

test: update orcestration example snapshots
  packages/orchestration/src/exos/chain-hub.js
  packages/orchestration/test/examples/snapshots/send-anywhere.test.ts.md
  packages/orchestration/test/examples/snapshots/send-anywhere.test.ts.snap
  packages/orchestration/test/examples/snapshots/staking-combinations.test.ts.md
  packages/orchestration/test/examples/snapshots/staking-combinations.test.ts.snap
  packages/orchestration/test/examples/snapshots/unbond.contract.test.ts.md
  packages/orchestration/test/examples/snapshots/unbond.contract.test.ts.snap
Owners: @warner, @Chris-Hibbert, @FUDCo, @michaelfig

.github/CODEOWNERS:

# Default code owners when not specified.
# We prefer to explicitly specify owners for all subdirectories.
*                                @warner @Chris-Hibbert @FUDCo @michaelfig

/*.*                             @kriskowal @michaelfig
/.github/                        @kriskowal @michaelfig
/docker/                         @kriskowal @michaelfig
/patches/                        @kriskowal @michaelfig
/scripts/                        @kriskowal @michaelfig
/yarn.lock                       @mhofman

# Golang parts of the repo.
/go.*                            @JimLarson
/golang/                         @JimLarson

# Explicit owners for our packages
/packages/ERTP/                  @erights @Chris-Hibbert
/packages/SwingSet/              @warner @FUDCo
/packages/access-token/          @kriskowal @michaelfig
/packages/agoric-cli/            @kriskowal @michaelfig
/packages/assert/                @kriskowal @turadg @michaelfig @erights
/packages/cosmic-swingset/       @michaelfig
/packages/deploy-script-support/ @michaelfig
/packages/deployment/            @michaelfig
/packages/eslint-config/         @kriskowal @michaelfig @erights @turadg @mhofman
/packages/governance/            @Chris-Hibbert
/packages/import-manager/        @michaelfig
/packages/notifier/              @kriskowal @turadg @michaelfig @erights
/packages/pegasus/               @michaelfig
/packages/run-protocol           @Chris-Hibbert @turadg
/packages/same-structure/        @kriskowal @turadg @michaelfig @erights
/packages/sharing-service/       @michaelfig @Chris-Hibbert
/packages/solo/                  @kriskowal @michaelfig
/packages/sparse-ints/           @kriskowal @turadg @michaelfig
/packages/spawner/               @michaelfig
/packages/stat-logger/           @warner @FUDCo
/packages/store/                 @warner @FUDCo @erights
/packages/swing-store/           @warner @FUDCo
/packages/swingset-runner/       @FUDCo
/packages/tame-metering/         @kriskowal @michaelfig
/packages/telemetry              @kriskowal @michaelfig
/packages/ui-components/         @michaelfig @samsiegart  @turadg
/packages/vats/                  @michaelfig
/packages/vat-data/              @turadg
/packages/wallet/                @michaelfig @samsiegart
/packages/wallet-connection/     @michaelfig @samsiegart
/packages/web-components/        @samsiegart
/packages/xsnap/                 @warner @dckc @kriskowal
/packages/zoe                    @erights @Chris-Hibbert
